<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @posts.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @posts.body %>
</p>
<%= link_to 'Edit', edit_post_path(@posts) %> |
<%= link_to 'Back', posts_path %>
